---
import TestimonialSlider from "@/layouts/function-components/TestimonialSlider";
const { testimonial } = Astro.props;
---

<section class="reviews bg-primary text-primary !mt-0">
  <div class="container">
    <!-- Title & Description -->
    <div class="row flex flex-col items-center justify-between gap-6 text-center lg:text-left lg:flex-row">
      <div class="lg:col-10" data-fade>
        <h2 class="text-3xl lg:text-4xl font-semibold">{testimonial.title}</h2>
      </div>
      <div class="lg:col-10" data-fade>
        <p class="mt-2 text-lg">{testimonial.description}</p>
      </div>
    </div>

    <!-- Slider -->
    <div class="row mt-0" data-fade>
      <div class="col-12">
        <div class="space-y-8">
          <TestimonialSlider
            list={testimonial.testimonial_list}
            client:load
          />
        </div>
      </div>
    </div>
  </div>
</section>
