---
import type { CollectionEntry } from "astro:content";

type Props = {
  counter: CollectionEntry<"about">["data"]["counter"];
};

const { counter } = Astro.props;
---

<div class="counter mt-16">
  <div class="row mx-0 rounded-[20px] bg-white px-10 shadow-lg lg:py-10" data-fade>
    {
      counter.map((item) => (
        <div class="group border-border sm:col-6 lg:col-3 px-10 py-10 text-center lg:border-r lg:py-0 last:lg:border-none" data-fade>
          <h2>
            <span class="text-primary text-4xl font-bold">
              {item.number}
            </span>
          </h2>
          <p class="text-primary transition-transform duration-300 group-hover:translate-y-1">
            {item.name}
          </p>
        </div>
      ))
    }
  </div>
</div>